.wrapper{
  width: 980px;
  margin: 0 auto;
  // background-color: aqua;
  font-family:  Helvetica,'Helvetica Neue', Arial, sans-serif;
  .main-container{
    // margin-top: 100px;
    font-family: Handlee;
  	.left-right-container{
  		overflow: hidden;
  		.left-container{
        margin-top: 25px;
  			float: left;
  			
  			width: 70%;
  			.boxes-container{
          border-bottom: 2px solid #e8e8e7;
  				
  				.box-row1,.box-row2{
            padding-bottom: 20px;

            .box{
              width: 160px;
              margin-left: 15px;
              border-radius: 5px;
              padding-top: 5px;
              padding-bottom: 10px;
              display: inline-block;
              color:#ffffff;

             .box_text{
                h4,h5{
                display: inline-block;
                padding-left: 5px;
                }
                h4{
                  font-size: 25px;
                }
                }
                .box_text2{
                   p{
                  // margin-left: 10px;
                  padding-left: 5px;
                }
                }
              }
  					.box1{
              background-color: #ed145b;              
  					}
  					.box2{
                background-color: #7a298f;
                }
  					.box3{
               background-color: #92278f;
  					}
  					.box4{
               background-color:#00aeef
    					}
  				}
  				.box-row2{
            .box1{
              background-color: #a67c52;
                  }
            .box2{
                background-color: #00a651;
                }
            .box3{
               background-color: #e74435;
            }
            .box4{
               background-color:#f7941d;
              }

  				}

  			}
        .week{
          float: right;
          // overflow: hidden;
            margin: 50px;
            // border: 2px solid #e8e8e7;
            border-radius: 5px;
          .week_text{
           display: inline-block;
           margin-left: 10px;        
              p{
                margin-top: 5px;
              }
              .dropdown{
                .dropdown-menu{
                  margin: 0px;
                }
              }
          }
          .week_img{
           display: inline-block; 
           margin-left: 15px;
           margin-right: 10px;  
            img{
            }
          }       
        }
        .activity{
          clear:both;
          // background-color: aqua;

          .activity_text{
            h5{
              text-align: center;
            }
          }
          .activity_graph{
            img{
              width: 90%;
              margin-top: 50px;
              margin-bottom: 50px;

            }
          }
        }
  		}
  		.right-container{
  				float: right;
  			  border-left: 2px solid #e8e8e7;
  		    width: 30%;
          h5{
            margin: 30px;
            text-align: center;            
          }
  			.all_tips{
          img{
            width: 200px;
            margin: 20px;
          }

				}

  		}

  	}
  }

}