
@font-face {
  font-family: 'Handlee';
  src: url('fonts/handlee.eot'); /* IE9 Compat Modes */
  src: url('fonts/handlee.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/handlee.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/handlee.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/handlee.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/handlee.svg#svgFontName') format('svg'); /* Legacy iOS */
}