$br-g: #ECEAEA;

$bg-y: rgb(255, 255, 157);

$bg-y-d: #f2e861;

$bg-y-l:#fff568;

$bg-title: #00bff3;

$bg-title-l: #00bff3;

$bg-r-l:rgb(255, 213, 213);

$bg-r-d:rgb(234, 142, 142);

$bg-sky-d: #00bff3;

$bg-sky-l:rgb(194, 255, 241);

$bg-white: #fff;