$br-g: #ECEAEA;

$bg-y: rgb(255, 255, 157);

$bg-title: #6AA6C7;

$bg-title-l: #6FC8F7;

$bg-r-l:rgb(255, 213, 213);

$bg-r-d:rgb(234, 142, 142);

$bg-sky-d:rgb(115, 249, 218);

$bg-sky-l:rgb(194, 255, 241);
	