$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/Handlee-Regular.ttf";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "setcolour";

@import "mixin";

@import "fonts";

@import "create-tip";

@import "user-edit-profile";

// $icon-font-path: "../styles/fonts/handlee.woff2";

.background-color-redD{
  background-color:$bg-r-d;
}

.background-color-redL{
  background-color:$bg-r-l;
}

.background-color-blueD{
  background-color: $bg-title;
}

.background-color-blueL{
  background-color: $bg-title-l;
}

.background-color-skyD{
  background-color: $bg-sky-d;
}

.background-color-skyL{
  background-color: $bg-sky-l;
}
.background-color-y{
  background-color: $bg-y-d;
}

.background-color-yL{
  background-color: $bg-y-l;
}

.background-color-w{
  background-color: $bg-white;
}

.background-color-black{
  background-color: $color-l-black;
}

.bg-color-d-black{
  background-color: $bg-d-black;
}
.bg-color-yellow-l{
  background-color: $bg-y-sign;
}
        


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  overflow-x: hidden;
  @extend .background-color-w;
  // font-family: $icon-font-path;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 992px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.floatl{
  float: left;
}
.floatr{
  float: right;
}
.logo{
  font-size: 25px;
  @extend .floatl;
  color: $bg-white;
}
.padding-tip{
  padding: 10px 30px;
}
.nav-div{
  @extend .bg-color-d-black;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
.nav{
  padding: 10px 0px;
  text-align: center;
}
.nav-user{
  padding: 0px;
  text-align: center;
}

.searchBox{
  width: 680px;
  min-width: 300px;
  font-size: 20px; 
  padding: 7px 45px 7px 30px;
  border: 1px solid $br-g;
  @extend .floatl;
  margin: 0px 100px;
}

.search-img2{
  position: relative;
  right: 169px;
  top: 12px;
}
 
.search-results{
  width: 100px;
  margin: 0 auto;
  background-color: gray;
  border: 1px solid black;
}
.search-close{
  padding: 10px;
  float: left;
}

.btn-sign{
  margin: 0px;
  border: 1px solid white;
  padding: 9px 40px;;
  background-color: rgba(255, 255, 255, 0);
  vertical-align: middle;
  color: white;
}
.btn-div{
  padding-top: 2px;
}

//sign in

.sign-in-div{
  background-color: $bg-y-d;
  width: 580px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  color: $color-l-black;
  font-weight: lighter;
  font-family: $primary-font;
  @extend .fontSize;
  position: absolute;
  z-index:1002;
  overflow: auto;
  top: 25%;
  left: 25%;
    .signInText{
      font-size: 22px;
      padding: 9px 0px;
      background-color:$bg-y-l;
    }
    .sin-in-div-form{
        top: 50px;
        left: 0px;
        height: 290px;
    }

    .email-id-div{
        clear: both;
        margin: 0 auto;
        width: 510px;
        font-family: Handlee;
        padding: 45px 0px 0px 0px;
      .emailId{
        padding: 7px 0px;
        @extend .floatl;
      
      }
      .emailIdForm{
        width: 400px;
        height: 40px;
        @extend .bg-color-yellow-l;
        border: 0px;
        border-radius: 5px;
        @extend .floatr;
        padding: 0px 15px;
      }

    }
    .passwordIdDiv{
        padding-top: 10px; 
    }
      
    .forgotPassword{
      clear: both;
      text-decoration: underline;
      padding: 5px 37px;
      text-align: right;
      font-size: 11px;
      font-family: $primary-font;
      color: black;
    }
    .btn-sign-in{
        border-radius: 5px;
        border: 0px;
        padding: 7px 23px;
        @extend .bg-color-yellow-l;
        font-family: Handlee;
        @extend .floatr;
        margin: 18px 34px;

    }
    .hrGray{
      border-top: 2px solid rgba(90, 87, 87, 0.22);
      clear: both;
    }
    .sign-in-div-text{
        .signupText{
          text-decoration: underline;
          color: black;

        }
    }
}


// sign up
.sign-up{
  height: 370px; 
}


.tips-category{
  @extend .floatl;
  text-align: center;
  @extend .logo;
  width: 200px;
  font-size: 16px;
  @extend .padding-tip;
  margin-right: 10px;
  background:  $bg-y;
}  
.categoryList{
  text-align: center;
  padding: 0px 10px;  
}
.categoryUl{
  list-style-type: none;
  text-align: left;
}
.tips-container{
  @extend .floatl;
  margin: 14px;
  margin: 0 auto;
  width: 100%;
}
.tip{
  width: 217px;
  @extend .font-helvetica;
  margin: 0px 13px;
  overflow: hidden;
  padding: 0px 0px 10px;
}

.tips{
  width: 240px;
  margin: 0px 4px 4px;
  @extend .floatl;
  font-size: 18px;  
}
.categoryTitleDiv{
  @extend .background-color-yL;
  width: 220px;
}
.tipsImg{
  @extend .floatl;
  padding: 10px 0px 0px 9px;
  position: relative;
  top: -3px;
}
.categoryTitle{
  font-size: 18px;
  margin: 0px;
  padding: 10px;
  text-align: center;
  @extend .background-color-yL;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  // @import url(http://fonts.googleapis.com/css?family=Handlee);
}

.tips-titel{
  @extend .padding-tip;
  @extend .background-color-y;
  text-align: justify;
  font-family: Handlee;
  font-size: 18px;
  padding: 11px 16px;
}
.listOfCategoryDiv{
  background-color: gray;
  color: $bg-white;
  height: 45px;
  margin: 0px 10px 10px;
}
.list-of-category{
  padding: 6px 16px;
  @extend .floatl;  
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.tipDetails{
  @extend .background-color-y;
  height: 50px;
}

.thumbs_up{
  width: 70px;
  padding: 0px 10px;
}

.thumbs_down{
  @extend .thumbs_up;
}
.thumbsUpImg{
  width: 17px;
  padding: 7px 0px;
  @extend .floatl;
}
.thumbsDownImg{
  @extend .thumbsUpImg;
  padding: 17px 0px 0px;;

}

.hr{
  border-top: 1px solid rgba(124, 124, 124, 0.81);
  margin: 0px;
  clear: both;
}

.numThumbsUp{
  font-size: 18px;
  padding: 14px 0px 0px 37px;
}
.numThumbsDown{
  @extend .numThumbsUp;

}
.viewerDiv{
  @extend .floatl;
  .viewerImg{
    padding: 17px 8px ;
    width: 38px;
  }
}

.signup-error-field{
  width: 200px;
  @extend .background-color-y;
  position: relative;
  left: 518px;
  top: -32px;
  overflow: hidden;
  border: 1px solid gray;
}

.manu-tag{
  list-style-type: none;
  color: $bg-white;
  @extend .font-size-nav;
  font-weight: lighter;
  @extend .floatr;
  height: 50px;
}

.manu-li-tag{
  @extend .floatl;
  padding: 22px 0px 4px;
  margin: 0px 15px;
  color: $bg-white;
    &:hover {
      border-bottom: 2px solid $bg-sky-d;
    }
}


