<div ng-include="'../views/nav.html'"></div> 
<!-- ../ and give the path of the file -->
<div ng-include="'../views/user-nav.html'"></div> 

   
<div class="wrapper">
  <div class="main-container">
    <div class="left-right-container">
      <div class="left-container">
         <div class="boxes-container">
            <div class="box-row1">
                <div class="box box1">
                  <div class="box_text">
                  <h4>182</h4>
                  <h5>TIPS</h5>
                  </div>
                 <div class="box_text2"><p>156 Tips Last week</p></div>
                </div>
                <div class="box box2">
                  <div class="box_text">
                  <h4>36</h4>
                  <h5>FOLLOWERS</h5>
                  </div>
                 <div class="box_text2"><p>29 Followers Last week</p></div>
                </div>
                <div class="box box3">
                  <div class="box_text">
                  <h4>52</h4>
                  <h5>FOLLOWING</h5>
                  </div>
                 <div class="box_text2"><p>38 Following Last week</p></div>
                </div>
                <div class="box box4">
                  <div class="box_text">
                  <h4>502</h4>
                  <h5>VIEWS</h5>
                  </div>
                <div class="box_text2"><p>395 Views Last week</p></div>
                </div>
              </div>
           <div class="box-row2">
                <div class="box box1">
                  <div class="box_text">
                  <h4>28</h4>
                  <h5>NOTES</h5>
                  </div>
                 <div class="box_text2"><p>16 Notes Last week</p></div>
                </div>
                <div class="box box2">
                  <div class="box_text">
                  <h4>538</h4>
                  <h5>THUMBS UPS</h5>
                  </div>
                <div class="box_text2"><p>468 Best Last week</p></div>
                </div>
                <div class="box box3">
                  <div class="box_text">
                  <h4>23</h4>
                  <h5>THUMBS DOWNS</h5>
                  </div>
                 <div class="box_text2"><p>15 Worst Last week</p></div>
                </div>
                <div class="box box4">
                  <div class="box_text">
                  <h4>01</h4>
                  <h5>REWARDS</h5>
                  </div>
                 <div class="box_text2"><p>0 Reward Last week</p></div>
                </div>
              </div>
         </div>
         <div class="week">
          <div class="week_text"><p>Week</p></div> 
          <div class="week_img"></div> 
          <!-- <div class="week_img"><img src="img/down_arrow.png" alt="arrow_img"></div>  -->
         </div>

         <div class="activity">
           <div class="activity_text"><h5>ACTIVITY</h5></div>
           <div class="activity_graph"></div>
           <!-- <div class="activity_graph"><img src="img/graph.png" alt="graph"></div> -->
         </div>

      </div>
      <div class="right-container">
        <h5>YOUR TOP TIPS</h5>
        <div class="all_tips">

        </div>
      </div>
    </div>
  </div>
</div>