<div ng-include="'../views/nav.html'" ></div> 
<div ng-include="'../views/user-nav.html'" ng-show="isLoggedIn" ></div> 

<!-- Category List -->
<div class="list-of-category-div">
  <categories></categories>
</div>
<!-- sign in -->
<div class="sign-in-div" ng-show="signin" >
    <login></login>
</div>
 <!-- sign in end-->

<!-- sign up -->
<div class="sign-in-div sign-up" ng-show="signupView">
    <signup></signup>
</div>
<!-- sign up end-->

<!--all tip -->
<div ng-include="'../views/tips.html'" ></div> 
<!--all tip end-->

