<div class="navDiv">
<div class="wrapper">
  <div class="nav">
    <div class="logo">tipsly</div>    
    <input type="search" class="searchBox " placeholder="search eg: unix" ></input>
    <div class="btnDiv floatr"><button class="btnSign">Sign in /  Sign up</button></div>
  </div>
</div>
</div>
  <div class="listOfCategoryDiv">
    <categories></categories>
  </div>
<div class="tipsContainer  floatl">
  <div ng-repeat="tip in tips" class="tip floatl">
    <h4 ng-repeat="category in categories"  class="tipsTitle " ng-show="category.id == tip.category_id">{{category.title}}</h4>
    <div class="desc tipsDescription">{{tip.title}}</div>
    <hr class="hr">
    <div class="tipDetails">
      <div class="thumbs_up floatl"><img src="../images/thumbs_up.png" class="thumbsUpImg" alt=""><span class=""> {{tip.thumbs_up}} </span> </div>
      <div class="thumbs_down floatl"><img src="../images/thumbs_down.png" class="thumbsDownImg"  alt=""> {{tip.thumbs_down}}</div>
      <div class="viewer"><img src="../images/viewed.png" alt="" class=""></div>
    </div>
  </div>
</div>