<div class="nav-div">
    <div class="wrapper">
        <div class="nav row" ng-controller="UserCtrl"> 
            
            
            <div class="col-md-2 logo"><a href="#/" >
                <img src="../images/tipsly.svg" alt="" class="logo-svg" >
            </a>
            </div>
            
            <div class="col-md-7">
                <input type="search" class="search-box" placeholder="search eg: unix" ng-model="search"> 
                <img class="search-img search-img2" src="../images/search.png">
                <div class="search-results" ng-repeat="category in categories | filter:search" ng-show="search"> {{category.title}}
                </div>
                <!-- <div class="search-close"><img src=""></div> -->
            </div>
            
            <div class="btn-div floatr col-md-3">
                <!-- <button  class="btn-sign" ng-click="signIn()"  ng-hide="isLoggedIn" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Sign in /  Sign up </button>
                <button class="btn-sign" ng-click="signOut()" ng-show="isLoggedIn">Sign Out</button> -->
                

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle dropdown-sign-button" ng-click="signIn()" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <div class="user-name" ng-hide="user.firstName == !null">{{user.firstName}} {{user.lastName}} </div>
                        <!-- <div class="user-name">{{user.firstName}} {{user.lastName}} </div> -->
                        <div class="user-notsign" ng-show="user.firstName == null" data-toggle="modal" data-target=".bs-example-modal-sm">Sign In</div>
                        <!-- <div class="user-name" ng-show="user.firstName == null" ng-click="signIn()" >Sign In</div> -->
                        <div ng-hide="user.firstName == null" class="caret"></div>
                    </button>

                    
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-hide="user.firstName == null">
                        <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li> -->
                        <!-- <button   class="btn-sign" ng-click="signIn()"  ng-hide="isLoggedIn" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Sign in /  Sign up </button> -->
                        <!-- <button class="btn-sign" ng-click="signUpClick()" ng-hide="isLoggedIn">Sign Up</button> -->
                        <!-- <button class="btn-sign" ng-hide="isLoggedIn" data-toggle="modal" data-target=".bs-example-modal-sm1">Sign Up</button> -->
                        <button class="btn-sign" ng-click="signOut()" ng-show="isLoggedIn">Sign Out</button>
                    </ul>
                </div>



            </div>
        </div>
    </div>
</div>



<!-- login -->


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-model="signin">
  <div class="modal-dialog modal-sm modal-dialog-edit">
    <div class="modal-content modal-content-edit">
        <form class="login-div-form"  ng-controller="UserCtrl" name="signinForm" > 
            <div class="login-text" >Sign In</div>

            <div class="email-id-div">
                <div class="email-id-label">
                     <label class="email-id-label-text">Email id:</label>  
                </div>
                <div class="email-id-input-div">
                    <div class="email-id-input">
                        <input type="text" name="email" class="emailid" id="email" ngPattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  ng-model="user.email" required />  
                    </div>
                    <div class="signup-error-field area-required" ng-show="signinForm.user_email.$dirty || signinForm.user_email.$invalid"> 
                        <span ng-show="signinForm.user_email.$error.required">Tell us your email.</span>
                        <span ng-show="signinForm.user_email.$error.email">This is not a valid email.</span>
                        <span ng-show="signinForm.user_email.$error.required && signinForm.user_email.$dirty"> Tell us your email</span>
                    
                    </div> 
                    <div class="area-required">{{err.error}}</div>
                </div>
            </div>
                

            <div class="password-div">
                <div class="password-text">
                    <label class="password-label">Password:</label>
                </div>
                <div class="login-password">
                   <input type="password" class="login-password-input" id="password" ng-model="user.password" required />
                </div>
            </div>
            <div class="login-forgot-password"><a href="">forgot password?</a></div>
            <div class="btn-div">
                <button class="btn-sign-in" ng-disabled="signinForm$invalid" ng-click="login(user)">Sign in</button>
            </div>

            <!-- {{user.firstName}} -->
            <div class="sign-in-div-text">Don’t Have Account? 
                <!-- <a href="" class="signup-link" ng-click="signUpClick()"> Sign up </a> now  -->
                <a href="" class="signup-link" data-toggle="modal" data-dismiss="modal" data-target=".bs-example-modal-sm1" > Sign up </a> now 
            </div>
        </form>
    </div>
  </div>
</div>



<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->

<!-- signup -->

<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"  id="myModalContent" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-edit">
    <!-- <div class="modal-content"> -->
        <form  class="signup-div-form login-div-form" name="signup_form" ng-controller="UserCtrl" >
            <div class="signup-text login-text">Sign Up</div>
            
            <!-- Name -->
                <div class=" signup-name-div email-id-div">
                    <div class="signup-label email-id-label">
                        <label class="signup-name email-id-label-text">Name:</label>
                    </div>
                    <div class="signup-email-input login-password">
                        <input type= "name" class="signup-name login-password-input" ng-minlength="3" name="signup_name" ng-model="user.firstName" required >
                    </div>    
                    <div class="area-required">    
                        <span ng-show="signup_form.signup_name.$error.minlength">Minimum length 3</span>
                        <span ng-show="signup_form.signup_name.$error.required && signup_form.signup_name.$dirty"> Tell us your Name</span>
                    </div>
                </div>
            <!-- email -->
                <div class="email-id-div password-div">
                    <div class="signup-email-label password-text">
                        <label class="emai-label password-label">Email id:</label>
                    </div>
                    <div class="signup-email-input ">
                        <div class="email-input login-password">
                            <input type= "email" class="emailid-input login-password-input" id="email" name="signup_email" ngPattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="user.email" required > 
                        </div>
                        <div class="email-status-msg area-required"> 
                            <span ng-show="signup_form.signup_email.$dirty && signup_form.signup_email.$invalid"></span>
                            <!-- <span ng-show="signup_form.signup_email.$error.required">Tell us your email.</span> -->
                            <span ng-show="signup_form.signup_email.$error.required && signup_form.signup_email.$dirty"> Tell us your email</span>
                            <span ng-show="signup_form.signup_email.$error.email">This is not a valid email.</span>
                            <!-- <span ng-show="$scope.err">Email address in use</span> -->
                            <!-- <span ng-show="signup_form.signup_email.$err.email">{{err.error}}</span> -->
                            {{err.error}}
                        </div>
                    </div>
                </div>

                <!-- password -->
                <div class="signup-password-div password-div">
                    <div class="signup-password-label password-text">
                        <label class="password-label" for="password">Password:</label>
                    </div>
                    <div class="signup-password-input-div">
                        <div class="signup-password-input login-password">
                            <!-- <input class="password-input login-password-input" type="password" id="password" name="password" ng-model="user.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required > -->

                            <input class="password-input login-password-input" type="password" id="password" name="password" ng-model="user.password" required >
                        </div>
                        <div class="password-status-msg area-required">
                            <span ng-show="signup_form.password.$error.required && signup_form.password.$dirty">required</span>
                            <!-- <span ng-show="!signup_form.password.$error.required && (signup_form.password.$error.minlength || signup_form.password $error.maxlength) && signup_form.password.$dirty">
                                Passwords must be between 8 and 20 characters.
                            </span> -->
                            <span ng-show="!signup_form.password.$error.required && !signup_form.password.$error.minlength && !signup_form.password.$error.maxlength && signup_form.password.$error.pattern && signup_form.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol).
                            </span>
                        </div>
                    </div>
                </div>

            <!-- Re-enter password -->
                <div class="signup-conf-password-div password-div">
                    <div class="signup-password-label password-text">
                        <label class="password-label" for="password_confirm">Re-enter: </label>
                    </div>
                    <div class="signup-password-input-div">
                       <div class="signup-password-input login-password">
                            <!-- <input class="password-input login-password-input" type="password" id="password" name="password" ng-model="user.password" ng-minlength="8"  -->
                            <input  class="password-input login-password-input" type="password" id="password_confirm" name="password_confirm" ng-model="confirmPass" compare-to="user.password" required />
                       </div>
                       <div class="password-status-msg area-required">
                            <span ng-model="confirmPass" ng-show="signup_form.password_confirm.$error.required && signup_form.password_confirm.$dirty">
                                Please confirm your password.
                            </span>                
                            <!-- <span ng-model="confirmPass" ng-show="signup_form.password_confirm.$dirty">Most match the previous entry<span> -->
                            <span ng-model="confirmPass" ng-show="!signup_form.password_confirm.$error.required && signup_form.password_confirm.$error.noMatch && signup_form.password_confirm.$dirty">
                                Passwords do not match.</span>

                       </div>
                    </div>
                </div>        
                <div class="btn-div">
                    <!-- <button class="btn-sign-in" ng-disabled="!signup_form.$valid" ng-click="signup(user)"  data-dismiss="modal" data-toggle="modal" data-target=".bs-example-modal-sm">Sign up</button> -->
                    <!-- <button class="btn-sign-in" ng-disabled="!signup_form.$valid" ng-click="signup(user)" data-target=".bs-example-modal-sm">Sign up</button> -->
                    <button class="btn-sign-in" ng-click="signup(user)" data-target=".bs-example-modal-sm">Sign up</button>
                </div> 
                <div class="sign-in-div-text">You Have Account? 
                    <!-- <a href="" class="signup-link" ng-click="signUpClick()"> Sign up </a> now  -->
                    <a href="" class="signup-link" data-toggle="modal" data-dismiss="modal" data-target=".bs-example-modal-sm" > login </a> now 
                </div>
        </form>
    </div>
  </div>
</div>