<div ng-include="'../views/nav.html'"></div> 
<!-- ../ and give the path of the file -->
<div ng-include="'../views/user-nav.html'" ></div> 

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
  		<img src="../images/add.png" alt="">
  		<input type="text" class="">
  		<button type="submit" class="btn btn-default">New Notebook</button>
  </div>
  <div class="col-md-5">
		<div class="search-div">
			<input type="text" class="search-save-tip">
			<img class="search-img" src="../images/search.png">
			</input>
		</div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
	Mac
	<hr>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
	{{}}My Health tips
	<hr>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
	{{}}Super Tips
	<hr>
  <div class="col-md-1"></div>
</div>
