<div class="loader" ng-controller="MainCtrl"></div>
<div ng-include="'../views/nav.html'"></div> 
<!-- ../ and give the path of the file -->
<div ng-include="'../views/user-nav.html'" ></div> 
<popdown></popdown>
<!-- <a class="btn" ng-click="success('I am a success!')">Succeed</a> -->

<div class="user-profile-div">
	<div class="user-profile-div-container">
		<div ng-show="profile">	
			<form class="user-profile">
				<div class="user-img">
					<img class="user-profile-img" src="{{user.avatar}}">
					<!-- <img class="user-profile-img" src="../images/Generic_Male_Profile.jpg"> -->
				</div>
				<div class="user-info">
					<div class="user-username user-data">{{user.firstName}} {{user.lastName}} {{user.fullName}}</div>
					<div class="user-location user-data">{{user.location}}</div>
					<div class="user-web user-data">{{user.web}}</div>
					<div class="user-emailid user-data-info">{{user.email}}</div>
					<div class="user-emailid user-data-info">{{user.expert}}</div>
					<!-- <div class="user-emailid user-data-info">{{user.ok}}</div> -->
				</div>
				<!-- <div class="user-profile-edit" ng-click="editProfile = !editProfile">Edit</div> -->
				<!-- <div class="user-profile-edit btn btn-primary" ng-click="profileEdit()">Edit</div> -->
				<div class="btn btn-primary" ng-click="profileEdit()">Edit</div>
			</form>
		</div>
		
<!-- profile edit -->
		<div ng-hide="profile">
			<form class="profile-form" name="user_profile_form">
				<!-- user img -->
				<div class="profile-img-div">
					<span>
						<!-- <img ng-model="{{user.avatar != null}}" class="profile-img" src="../images/Generic_Male_Profile.jpg"> -->

						<img class="profile-img" src="{{user.avatar}}">
					</span>
					<!-- <img class="profile-img" src="../images/Generic_Male_Profile.jpg"> -->

					<!-- <span class="uploed-text" title="uploed" ng-click="uploadimg()">Uploed</span> -->
					<!-- <input type="file" file-model="myFile"/> -->
					<!-- <button class="uploed-text" title="uploed" ng-click="uploadFile()">Uploed</button> -->
    				<!-- <button ng-click="uploadFile()">upload me</button> -->
				</div>

				<!-- user details -->
				<div class="user-profile-data-div">

					<div class="user-profile-fullname-div">
						<div class="user-profile-fullname">
							<label class="text-label user-profile-text">Name:</label>
							<input class="user-firstname"  ng-model="user.firstName" placeholder="{{user.firstName}}">
							<input class="user-lastname"  ng-model="user.lastName" placeholder="{{user.lastName}}">
						</div>
					</div>
					<div class="user-profile-location">
						<label class="text-label">Location:</label>
						<input type="text" class="user-location" ng-model="user.location" placeholder="{{user.location}}">
					</div>
					<div class="user-profile-web">
						<label class="text-label">Website:</label>
						<input type="text" class="user-website" ng-model="user.web" placeholder="{{user.web}}">
					</div>
					<div class="user-profile-email">
						<label class="text-label">Email ID:</label>
						<!-- <input type="text" name="email" class="user-email" ng-model="user.email" placeholder="{{user.email}}"> -->
						<div style="display: inline-block;">{{user.email}}</div>
		                <!-- <span ng-show="user_profile_form.email.$error.required && user_profile_form.email.$dirty">required</span> -->
						<!-- <p data-ng-message="emailexists">Email already exists</p> -->
					</div>

					<div class="user-profile-email">
						<label class="text-label">Expert in :</label>
						<input type="text" name="expert" class="user-email" ng-model="user.expert" placeholder="{{user.expert}}">
					</div>

					<div class="user-profile-submit"><!-- submit div-->
						<button class="btn-submit-user-profile"  ng-disabled="!user_profile_form.$valid" ng-click="update(user)">Submit</button>
						<button class="btn-submit-user-profile" ng-click="updateCancel()">Cancel</button>
					</div>
					
					<div class="">

						<input type="file" onchange="angular.element(this).scope().uploadImage(this)" name="">
					  <!-- Add image -->
    				  <!-- <button class="button" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</button>
					  <ul>
        				<li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
    				  </ul> -->
						<!-- <input type="file" file-model="myFile" onchange="angular.element(this).scope().uploadAvatar()"/> -->
						<!-- <input type="file" file-model="myFile" onchange="angular.element(this).scope().uploadAvatar(this)"/> -->
						<!-- <button class="upload-text btn btn-primary" title="upload" ng-click="uploadFile()" >Upload</button> -->
						<!-- <button class="upload-text btn btn-primary" title="upload" onchange="angular.element(this).scope().uploadAvatar(this)">Upload</button> -->
					</div>

				</div>
			</form>
		</div><!-- user details end-->	
	</div>


<!-- tips -->
	<div class="user-profile-border"  ng-controller="UserCtrl">
		<div class="search-div">
			<input type="text" class="search-save-tip">
			<img class="search-img" src="../images/search.png">
		</div>	

		<div class="user-tip-container">
			<!-- <div  class="user-created-tips" ng-include="'../views/user-tip.html'"></div> -->

			<div>
				<div id="freewall" class="free-wall" >
				    <div ng-repeat="tip in tipsOfUser" class='brick'>
				<!-- <div ng-repeat="tip in tipsOfUser" class='tip-item'> -->
				    <!-- <div class="category-title-div "> -->
				        <!-- <div data-toggle="modal" data-target="#myModal" ng-click="popularTipOfUser(popularTip)"> -->
				        <div ng-click="getMyTipDescription($index, tip)" data-toggle="modal" data-target=".bs-example-modal-sm-user" style="  cursor: pointer;">
				            <div>
				                <img src="../images/tipsMark.png" alt="" class="tips-img">
				                <div class="category-title">{{tip.categoryTitle}}</div>
				            </div>
				            <div>
				                <div class="desc tips-titel">{{tip.title}}</div>
				                <!-- <div class="desc tips-titel">{{popularTip.title}}</div> -->
				            </div>
				        </div>
				            <div class="tip-details">
				                <div class="thumbs_up floatl" style="  cursor: default;">
				                  <img src="../images/thumbs_up.svg" class="thumbs-up-img" alt="">
				                  <div class="num-thumbs-up"> {{tip.thumbs_up}} </div>
				                </div>
				                <div class="thumbs_down floatl" style="  cursor: default;">
				                  <img src="../images/thumbs_down.svg" class="thumbs-down-img"  alt=""> 
				                  <div class="num-thumbs-down"> {{tip.thumbs_down}} </div>
				                </div>
				                <div class="viewer-div">
				                  <img src="../images/view.svg" alt="" class="viewer-img" />
				                  <div class="num-of-viewer"> {{tip.view}} </div>
				                </div>
				            </div>
				    </div>
				</div>
				<div class="no-save-tip-div" ng-show="tipsOfUser.length == 0">
					<img src="../images/sorry.png" class="sorry-message-img">
					<h3 class="message">Sorry no tips to display</h3>
					<a href="/create" class="click-create-tip">Click here to create tips</a>
				</div>
			</div> 
		</div>	



<!-- tip popup -->
		<div class="modal fade bs-example-modal-sm-user" id="deleted"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		    	<!-- <div class="editHover" data-toggle="modal" data-dismiss="modal" data-target=".bs-example-modal-sm-user-edit" style="margin 0px;"> Edit</div> -->
					<button class="btn-create-tip-submit " data-toggle="modal" data-dismiss="modal" data-target=".bs-example-modal-sm-user-edit" style="color: #000;  font-weight: bold;background-color: #CAC14E;padding: 0px 20px; height: 49px;  border: 0px;  margin: 0px 0px;  text-align: center;">Edit</button>

 					<button type="button" style="color: #000;font-weight: bold;background-color: #CAC14E; padding: 0px 20px;  height: 49px; border: 0px; margin: 0px 10px; text-align: center; float:right;"   ng-click="deleteTips(indexDel, myCurrentTip.id)" class="btn btn-danger">Del</button>

				<div>
					<div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="left: 163px;"><span aria-hidden="true">×</span></button>
		              <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
		            </div>
					<div class="desc-category-title "> 
						<label >Category Name : </label>
						 {{myCurrentTip.categoryTitle}} 
						

					</div>
					<div class="desc-tip">
						<label>Tip Title :</label>  
						{{myCurrentTip.title}}
					</div>
					<div class="desc-tip">
						<label >Tip Description :</label>  
						{{myCurrentTip.description}}
					</div>
					<!-- <button class="btn-create-tip-submit shadow" data-toggle="modal" data-dismiss="modal" data-target=".bs-example-modal-sm-user-edit" style="margin: 0px;" >Edit -->
						<!-- <img src="../images/kalam.svg" alt="" style="height: 40px;"> -->
					<!-- </button> -->
					<!-- <button class="btn-create-tip-submit shadow"  data-dismiss="modal" style="margin: 0px 3px;">Cancel</button> -->
				</div>
		    </div>
		  </div>
		</div>

<!-- tip edit -->
		<div class="modal fade bs-example-modal-sm-user-edit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
				<div>
					<div class="">
						<button class="btn-create-tip-submit " ng-click="saveEditTip(myCurrentTip)" data-dismiss="modal" style="color: #000;font-weight: bold;background-color: #CAC14E; padding: 0px 20px;  height: 49px; border: 0px; margin: 0px 0px; text-align: center;" >save</button>

						<!-- <button data-toggle="modal" data-dismiss="modal" data-target=".bs-example-modal-sm-user" class="btn-create-tip-submit" ng-click="notSaveEditTip()" style="color: #000;font-weight: bold;background-color: #CAC14E;padding: 0px 20px;height: 49px;border: 0px;margin: 0px 0px;text-align: center; float: left" >Don't save</button> -->
					</div>
					<div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="left: 83px;"><span aria-hidden="true">×</span></button>
		              <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
		            </div>
					<div class="desc-category-title desc-tip"> 
						<label>Category Name : </label> {{myCurrentTip.categoryTitle}}
						<!-- <select class="dropdown dropdown-category-list"  name='categories' id="category" ng-model="myCurrentTip.category_id" required> 
						<option value="">{{myCurrentTip.categoryTitle}}</option>
						<option ng-repeat="category in categories"  value="{{category.id}}-{{category.title}}">{{category.title}}</option> -->
					</div>
					<div class="desc-tip" >
						<label>Tip Title :</label>
						<div>
							<textarea name="" ng-model="myCurrentTip.title">{{myCurrentTip.title}}</textarea>  
						</div>
					</div>
					<div class="desc-tip">
						<label>Tip Description :</label>  
						<div>
							<textarea name="" ng-model="myCurrentTip.description">{{myCurrentTip.description}}</textarea> 
						</div>
					</div>
					<!-- <div class="desc-tip"> -->
						<!-- <div class="1" data-toggle="modal" data-dismiss="modal" data-target=".bs-example-modal-sm-user" class="" ng-click="notSaveEditTip()" style=" padding: 10px;  width: 62px; box-shadow: 0px 2px 11px;">Cencel</div> -->
					<!-- </div> -->
					
				</div>
		    </div>
		  </div>
		</div>


	</div>	<!--ng-controller="UserCtrl" end-->
</div>


