<div ng-include="'../views/nav.html'"></div> 
<!-- ../ and give the path of the file -->
<div ng-include="'../views/user-nav.html'" ></div> 

<div class="user-profile-div">
	<div class="user-profile-div-container">
		<div ng-show="profile">	
			<form class="user-profile">
				<div class="user-img">
					{{user.profileImg}}
					<img class="user-profile-img" src="../images/Generic_Male_Profile.jpg">
				</div>
				<div class="user-info">
					<div class="user-username user-data">{{user.firstName}} {{user.lastName}} {{user.fullName}}</div>
					<div class="user-location user-data">{{user.location}}</div>
					<div class="user-web user-data">{{user.web}}</div>
					<div class="user-emailid user-data-info">{{user.email}}</div>
					<!-- <div class="user-emailid user-data-info">{{user.ok}}</div> -->
				</div>
				<!-- <div class="user-profile-edit" ng-click="editProfile = !editProfile">Edit</div> -->
				<div class="user-profile-edit" ng-click="profileEdit()">Edit</div>
			</form>
		</div>

		<div ng-hide="profile">
			<form class="profile-form" name="user_profile_form">
				<!-- user img -->
				<div class="profile-img-div">
					<img class="profile-img" src="../images/Generic_Male_Profile.jpg">
					<span class="uploed-text" title="uploed">Uploed</span>
				</div>

				<!-- user details -->
				<div class="user-profile-data-div">
					<div class="user-profile-fullname-div">
						<div class="user-profile-fullname">
							<label class="text-label user-profile-text">Name:</label>
							<input class="user-firstname"  ng-model="user.firstName" placeholder="{{user.firstName}}">
							<input class="user-lastname"  ng-model="user.lastName" placeholder="{{user.lastName}}">
						</div>
					</div>
					<div class="user-profile-location">
						<label class="text-label">Location:</label>
						<input type="text" class="user-location" ng-model="user.location" placeholder="{{user.location}}">
					</div>
					<div class="user-profile-web">
						<label class="text-label">Website:</label>
						<input type="text" class="user-website" ng-model="user.web" placeholder="{{user.web}}">
					</div>
					<div class="user-profile-email">
						<label class="text-label">Email ID:</label>
						<input type="text" name="email" class="user-email" ng-model="user.email" placeholder="{{user.email}}">
		                <!-- <span ng-show="user_profile_form.email.$error.required && user_profile_form.email.$dirty">required</span> -->
						<p data-ng-message="emailexists">Email already exists</p>
		                
					</div>
					<div class="user-profile-submit"><!-- submit div-->
						<button class="btn-submit-user-profile"  ng-disabled="!user_profile_form.$valid" ng-click="update(user)">Submit</button>
						<button class="btn-submit-user-profile" ng-click="updateCancel()">Cancel</button>
					</div>
				</div>
			</form>
		</div><!-- user details end-->	
	</div>
		<!-- tips -->
	<div class="user-profile-border">
		<div class="search-div">
			<input type="text" class="search-save-tip">
			<img class="search-img" src="../images/search.png">
		</div>	

		<div class="user-tip-container">
			<div  class="user-created-tips" ng-include="'../views/user-tip.html'"></div>
		</div>	
	</div>	
</div>

