<form class="login-div-form"  ng-controller="SessionCtrl" name="signinForm" > 
    <div class="login-text" >Sign In</div>

    <div class="email-id-div">
        <div class="email-id-label">
             <label class="email-id-label-text">Email id:</label>  
        </div>
        <div class="email-id-input-div">
            <div class="email-id-input">
                <input type="text" name="email" class="emailid" id="email"  ng-model="user.email">  
            </div>
            <div class="signup-error-field" ng-show="signup_form.signup_email.$dirty && signup_form.signup_email.$invalid"> 
                <span ng-show="signup_form.signup_email.$error.required">Tell us your email.</span>
                <span ng-show="signup_form.signup_email.$error.email">This is not a valid email.</span>
            </div>
        </div>
    </div>

    <div class="password-div">
        <div class="password-text">
            <label class="password-label">Password:</label>
        </div>
        <div class="login-password">
           <input type="password" class="login-password-input" id="password" ng-model="user.password">
        </div>
    </div>
    <div class="login-forgot-password"><a href="">forgot password?</a></div>
    <div class="btn-div">
        <button class="btn-sign-in" ng-click="login(user)" >Sign in</button>
    </div>

    <!-- {{user.firstName}} -->
    <div class="sign-in-div-text">Don’t Have Account? 
        <a href="" class="signup-link" ng-click="signUpClick()"> Sign up </a> now 
    </div>
</form>