<!-- <div  class="tips-container-freewall free-wall" id="freewall"> -->
  <div id="freewall" class="free-wall" >
    <div ng-repeat="tip in tips" class='brick'>
    <!-- <div ng-repeat="tip in tips" class='tip-item floatl brick'> -->
    <!-- <div ng-repeat="tip in tips" class='tip-item' ng-click="tipdescription(tip)"> -->
        <div class="category-title-div">
            <div data-toggle="modal" data-target="#myModal" ng-click="tipdescription($index, tip)">
                <div>
                    <div>
                      <img src="../images/tipsMark.png" alt="" class="tips-img">
                    </div>
                    <div class="category-title">{{tip.categoryTitle}}</div>
                </div>
                <div>
                    <div class="desc tips-titel">{{tip.title}}</div>
                </div>
            </div>
                <div class="tip-details">
                    <div class="thumbs_up" ng-click="thumbsUp($index, tip.id)">
                        <div>
                            <img src="../images/thumbs_up.svg" class="thumbs-up-img" alt="">
                        </div>
                        <div class="num-thumbs-up"> {{tip.thumbs_up}} </div> 
                    </div>
                    <div class="thumbs_down" ng-click="thumbsDown($index, tip.id)">
                        <div>
                            <img src="../images/thumbs_down.svg" class="thumbs-down-img"  alt=""> 
                        </div>
                        <div class="num-thumbs-down"> {{tip.thumbs_down}} </div>
                    </div>
                    <div class="viewer-div">
                        <div>
                            <img src="../images/view.svg" alt="" class="viewer-img" />
                        </div>
                        <div class="num-of-viewer"> {{tip.view}} </div> 
                    </div>
                </div>
        </div>
    </div>
  </div>


<!-- popup tip -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="tipDetails">
    <!-- <div class="modal fade" id="myModal" tabindex="-1"  ng-show="tipDetailsDiv"> -->
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
            </div>
            <div class="modal-body">
              <div class="left-right-container">
                <div class="left-body">
                    <div class="main-title">
                      <p>{{tipDetails.title}}</p>
                    </div>
                    <div class="title-img">
                      <img src="../images/popup-img.jpg" alt="">
                    </div>
                    <div class="all-points">
                      <p>{{tipDetails.description}}</p> 
                    </div>

                    <div class="bottom-actions-container">
                    <!-- <div class="bottom-actions-container" ng-show="addToNb"> -->
                        <div class="left-action">
                            <div class="display-middle" ng-click="thumbsUp(tipIndex, tipDetails.id)">
                                <img src="../images/thumbs_up.svg" alt="">
                                <span class="thumb-number">{{tipDetails.thumbs_up}}</span>
                            </div>
                            <div class="display-middle" ng-click="thumbsDown(tipIndex, tipDetails.id)">
                              <img class="thumb-down-img" src="../images/thumbs_down.svg" alt="">
                              <span class="thumb-number">{{tipDetails.thumbs_down}}</span>
                            </div>
                        </div>
                        <div class="right-action" ng-controller="NotebookCtrl" >  

                            <div class="notebook-popover-content animate-show" ng-show="addToNbPopUp">        
                                <div class="itom" >         
                                    <div class="notebook-itom" >
                                        <div ng-repeat="notebook in myNoteBookData">  
                                            <div>
                                                <input type="checkbox" id="{{notebook.id}}" ng-click="addOrDeleteTipForNotebook(tipDetails.id, notebook.id)">
                                                <!-- <input type="checkbox" id="{{notebook.id}}" ng-click="addOrDeleteTipForNotebook()"> -->
                                                <!-- <input type="checkbox" id="{{notebook.id}}" ng-model="notebook.id" ng-change="addOrDeleteTipForNotebook($tipIdx, {{notebook.id}})"> -->
                                                <label for="{{notebook.id}}" class="notenook-label">{{notebook.notebook_name}}</label>
                                            </div>
                                        </div>
                                        <div ng-show="myNoteBookData.length == 0" class="notebook-not-added">
                                          <a href="#/notebook">Create Notebook</a>
                                        </div>

                                    <!--     <div ng-show="user.firstName == null" class="notebook-not-added">
                                          <ang ng-click="signIn()" >Login to Create Notebook</a>
                                        </div>
 -->                                        
                                    </div>
                                    <!-- <button class="addnotebook-div" ng-click="addOrDeleteTipForNotebook()">  -->
                                    <button class="addnotebook-div"> 
                                        <img class="addnotebtn" src="../images/ok.png" alt="">
                                    </button>
                                </div>
                                <div class="popup-triangle" style=''></div>
                            </div>
                            
                            <button type="button" class="btn" ng-click="addToNb(addToNbPopUp)">Add to my Notebook</button>
                            <button type="button" class="btn">Share</button>
                            <button type="button" class="btn">Print</button>
                        </div>
                    </div>

                </div>
                <div class="right-body">
                      <div class="right-space1">
                          <div class="profile-image-about">
                            <div class="profile-image">
                              <img src="../images/passport.jpg" alt="">
                            </div>
                            <div class="profile-about" ng-click="userInfo(userIs)">
                                 <h4>{{userIs.firstName}} {{userIs.lastName}}</h4>
                                 <p>Expert in Travel Cooking Fitness and Sports</p>
                            </div>
                          </div>
                          <div class="follow-link">
                            <button type="button" class="btn" ng-click="followUser">Follow</button>
                          </div>
                      </div>
                      <div class="right-space2">
                         <div class="his-topics-heading">
                             <h4>His Popular Tips</h4>
                          </div> 

                          <div ng-repeat="popularTip in popularTipsOfUser" class='tip-item padding12'>
                              <div class="category-title-div ">
                                  <!-- <div data-toggle="modal" data-target="#myModal" ng-click="popularTipOfUser(popularTip)"> -->
                                  <div data-toggle="modal" ng-click="popularTipOfUser(popularTip)">
                                      <div>
                                          <img src="../images/tipsMark.png" alt="" class="tips-img">
                                          <div class="category-title">{{popularTip.categoryTitle}}</div>
                                      </div>
                                      <div>
                                          <div class="desc tips-titel">{{popularTip.title}}</div>
                                          <!-- <div class="desc tips-titel">{{popularTip.title}}</div> -->
                                      </div>
                                  </div>
                                      <div class="tip-details">
                                          <div class="thumbs_up floatl" ng-click="thumbsUp($index, tip.id)">
                                            <img src="../images/thumbs_up.svg" class="thumbs-up-img" alt="">
                                            <div class="num-thumbs-up"> {{popularTip.thumbs_up}} </div> 
                                          </div>
                                          <div class="thumbs_down floatl" ng-click="thumbsDown($index, tip.id)">
                                            <img src="../images/thumbs_down.svg" class="thumbs-down-img"  alt=""> 
                                            <div class="num-thumbs-down"> {{popularTip.thumbs_down}} </div>
                                          </div>
                                          <div class="viewer-div">
                                            <img src="../images/view.svg" alt="" class="viewer-img" />
                                            <div class="num-of-viewer"> {{popularTip.view}} </div> 
                                          </div>

                                      </div>
                              </div>
                          </div>
                      </div>
                </div>

              </div>
              <div class="other-tips-container">
                <div class="other-topic-heading">
                    <h4>Other Tips related to topic</h4>
                </div> 
                <div class="all-tips-square">
                

                    <div id="freewall" class="free-wall" >
                        <div ng-repeat="categoryTip in categoryWiseTips" class='brick'>
                            <div class="category-title-div">
                                <!-- <div data-toggle="modal" data-target="#myModal" ng-click="popularTipOfUser(popularTip)"> -->
                                <div data-toggle="modal" ng-click="categoryWiseTipsShow(categoryTip)">
                                    <div>
                                        <img src="../images/tipsMark.png" alt="" class="tips-img">
                                        <div class="category-title">{{categoryTip.categoryTitle}}</div>
                                    </div>
                                    <div>
                                        <div class="desc tips-titel">{{categoryTip.title}}</div>
                                        <!-- <div class="desc tips-titel">{{popularTip.title}}</div> -->
                                    </div>
                                </div>
                                <div class="tip-details">
                                    <div class="thumbs_up floatl" ng-click="thumbsUp($index, tip.id)">
                                      <img src="../images/thumbs_up.svg" class="thumbs-up-img" alt="">
                                      <div class="num-thumbs-up"> {{categoryTip.thumbs_up}} </div> 
                                    </div>
                                    <div class="thumbs_down floatl" ng-click="thumbsDown($index, tip.id)">
                                      <img src="../images/thumbs_down.svg" class="thumbs-down-img"  alt=""> 
                                      <div class="num-thumbs-down"> {{categoryTip.thumbs_down}} </div>
                                    </div>
                                    <div class="viewer-div">
                                      <img src="../images/view.svg" alt="" class="viewer-img" />
                                      <div class="num-of-viewer"> {{categoryTip.view}} </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                 </div>  
              </div>

            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
    </div>




<!-- popup tip end -->


    <script>
        // $(function() {
        //   var wall = new freewall("#main-con");
        //   wall.fitWidth();
        // });
        // $(document).ready(function(){
        //     freewallDesk();
        // });
        
        // function freewallDesk(){
            // var wall = new freewall('.container-tips');
            // console.log('freewall');
            // wall.reset({
            //   selector: '.tip-item',
            //   animate: true,
            //   // cellW: 220,
            //   cellH: 'auto',
            //   gutterY: 15,
            //   gutterX: 15,
            // });
            // wall.fitWidth();
            // wall.refresh()
        // }


        // var wall = new freewall("#freewall");
        // wall.reset({

        //     selector: '.brick',
        //     cellW: 220,
        //     cellH: 'auto',
        //     gutterY: 15,
        //     gutterX: 15,
        //     animate: true,

            // delay: 0, 
            // rightToLeft: false,
            // cacheSize: true, // caches the original size of block;
            // keepOrder: true,
            // draggable: true,

            // onResize: function() {
            //     console.log("HI onResize");
            //     wall.fitWidth();
            // },

            // onGapFound: function() {
            //     console.log('onGapFound')
            //     wall.fitWidth();
            // },
            // onComplete: function() {
            //     console.log('onComplete')
            //   wall.fitWidth();
            //   wall.refesh();
            // },

            // onBlockDrag: function() {
            //     console.log('onBlockDrag')
            //   wall.fitWidth();
            // },

            // onBlockMove: function() {
            //     console.log('onBlockMove')
            //   wall.fitWidth();
            // },

            // onBlockDrop: function() {
            //   wall.fitWidth();
            // },

            // onBlockReady: function() {
            //     console.log('onBlockReady')
            //   wall.fitWidth();
            // }

            // onBlockFinish: function() {
            //   wall.fitWidth();
            // },

            // onBlockActive: function() {
            //   wall.fitWidth();
            // },

            // onBlockResize: function() {
            //   wall.fitWidth();
            // }






//         });
//         $( document ).ready(function() {
//             // setTimeout(function(){wall.fitWidth()},100);
//             setTimeout(function(){wall.fitWidth()},300);

//         });
          
// wall.container.find('.brick .category-title-div').load(function() {
//         wall.fitWidth();
//       });


//           // var wall = new freewall('.free-wall');
//           // wall.reset({
//           //   selector: '.brick',
//           //   onComplete: function() {
//           //     this.fitWidth();
//           //   }
//           // });
          
//           // var wall = new freewall('.free-wall');
//           wall.reset({
//             selector: '.brick',
//             fillHoles: function() {
//               this.fitWidth();
//             }
//           });

          // wall.container.find('.free-wall').load(function() {
          //   wall.fitWidth();

          // console.log('wall',wall);
          // console.log('container',container);
          // });


        // var wall = new freewall('.free-wall');
        // wall.reset({
        //   selector: '.brick',
        //   onResize: function() {
        //     this.fitWidth();
        //   }
        // });



        // wall.container.reset('.free-wall').load(function() {
        //     //  // debugger;
        //      console.log('brick img')
        //      wall.fitWidth();
        //     });

    
  </script>

