<div class="nav-div" ng-controller="UserCtrl">
	<div class="wrapper">
		<nav class="nav nav-user">
			<ul class="manu-tag" >
			    <li class="manu-li-tag" ><a href="#/user" ng-class="{active: $route.current.activetab == 'user'}">Tips</a></li>
			    <li class="manu-li-tag" ><a href="#/create" ng-class="{active: $route.current.activetab == 'create'}">Create Tips</a></li>
			    <li class="manu-li-tag"><a href="#/notebook" ng-class="{active: $route.current.activetab == 'notebook'}">My Notebook</a></li>
			    <li class="manu-li-tag"><a href="#/profile" ng-class="{active: $route.current.activetab == 'profile'}">Profile</a></li>
			    <li class="manu-li-tag"><a href="#/dashboard" ng-class="{active: $route.current.activetab == 'dashboard'}">Dashboard</a></li>
			</ul>
		</nav>
	</div>
</div>

