<div class="nav-div">
	<div class="wrapper">
		<div class="nav nav-user">
			<ul class="manu-tag" >
			    <a href="#/profile" class=""><li class="manu-li-tag">Profile</li></a>
			    <a href="#/dashboard" class=""><li class="manu-li-tag">Dashboard</li></a>
			    <a href="#/user" class=""><li class="manu-li-tag">Tips</li></a>
			    <a href="#/create"class=""><li class="manu-li-tag" ng-click="createTip()">Create Tips</li></a>
			    <a href="#/notebook" class=""><li class="manu-li-tag">My Notebook</li></a>
			</ul>
		</div>
	</div>
</div>