<div class="nav-div">
	<div class="wrapper">
		<div class="nav nav-user">
			<ul class="manu-tag" >
			    <li class="manu-li-tag"><a href="#/profile" class="">Profile</a></li>
			    <li class="manu-li-tag"><a href="#/dashboard" class="">Dashboard</a></li>
			    <li class="manu-li-tag"><a href="#/user" class="">Tips</a></li>
			    <li class="manu-li-tag" ng-click="createTip()"><a href="#/create"class="">Create Tips</a></li>
			    <li class="manu-li-tag"><a href="#/notebook" class="">My Notebook</a></li>
			</ul>
		</div>
	</div>
</div>